*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body
{
   background-color: #24353f;
   background-image: url(../imgs/background\ 5.jpg) !important;
   background-size: cover;
   background-position: center center;

}

/*=========================================== login page ================================================*/

.login
{
   width: 35%;
   border-radius: 7px;
   margin-top: 80px !important;
   padding-top: 30px;
   padding-bottom: 30px !important;
   
}

.login input , button
{
   border-radius: 5px;
   border-color: transparent;
}

.login button 
{
   color: #535a5e;
}

